<h1 class="text-center">Kamol Treewatchararat</h1>
<hr/>
<ul class="nav nav-pieces">
    <li class="active"><a href="#" nav="Home">Home</a></li>
    <li><a href="#resume" nav="Resume">Resume</a></li>
    <li><a href="#projects" nav="Projects">Projects</a></li>
    <li><a href="#github" nav="Github">Github</a></li>
    <li><a href="#blogs" nav="Blogs">Blogs</a></li>
    <li><a href="#contact" nav="Contact">Contact</a></li>
</ul>
<hr/>
