<h1>About me</h1>
<div class="jumbotron">
<p>I have helped several companies building great products interfacing with hundreds of thousands users world wide.</p>
<p>My goal is to create great business value using my proven expertise in agile, test-driven software development.</p>
<p>A good team player, I emphasize communication within the team and value inputs from the people I work with.</p>
</div>
<h1>Testaments</h1>
<div>
<blockquote class="pull-right">
<p>"...[Kamol] is a very knowledgeable and eager developer with an unmatched enthusiasm and drive for learning, an invaluable trait in the fast-moving web development industry..."</p>
<small>James Lin (Senior Front-end Web Developer)</small>
</blockquote>
</div>