<p>I have helped several companies building great services that interface with hundreds of thousands users world wide.</p>
<p>My goal is to create great business value using my proven expertise in agile, test-driven software development.</p>
<p>A good team player, I emphasize communication within the team and value inputs from the people I work with.</p>
