<div class="projects">
  <div class="prj">
    <h3><a href="http://widget.votenow.tv/SocialQA" target="_blank">Social Q&amp;A</a> <small>at Telescope</small></h3>
    <a target="_blank" href="http://widget.votenow.tv/SocialQA" target="_blank"><img class="full-image" src="images/socialqa.jpg"></a>
  </div>
  <div class="prj">
    <h3><a href="http://widget.votenow.tv/PassionMeter" target="_blank">Passion Meter</a> <small>at Telescope</small></h3>
    <a target="_blank" href="http://widget.votenow.tv/PassionMeter" target="_blank"><img class="full-image" src="images/passionmeter.jpg"></a>
  </div>
  <div class="prj">
    <h3><a href="http://widget.votenow.tv/TopTrending" target="_blank">Top Trending</a> <small>at Telescope</small></h3>
    <a target="_blank" href="http://widget.votenow.tv/TopTrending" target="_blank"><img class="full-image" src="images/toptrending.jpg"></a>
  </div>
  <div class="prj">
    <h3><a href="http://www.pillsbury.com/vote" target="_blank">Pillsbury Bake-off 2014</a> <small>at Telescope</small></h3>
    <a target="_blank" href="http://www.pillsbury.com/vote" target="_blank"><img class="full-image" src="images/pillsbury.jpg"></a>
  </div>
  <div class="prj">
    <h3><a href="https://www.facebook.com/misssprintcup/app_1452933151612698" target="_blank">Vote for Miss Sprint Cup 2014</a> <small>at Telescope</small></h3>
    <a target="_blank" href="https://www.facebook.com/misssprintcup/app_1452933151612698"><img class="full-image" src="images/sprintcup2014.jpg"></a>
  <div>
  <div class="prj">
    <h3><a href="http://www.desertrosebingo.com" target="_blank">Desert Rose Bingo</a> <small>at Ascii Media</small></h3>
    <a target="_blank" href="http://www.desertrosebingo.com"><img class="full-image" src="images/desertrosehome.jpg"></a>
  </div>
  <div class="prj">
    <h3><a href="http://molo.me/" target="_blank">Molome</a> <small>at HLP Thailand</small></h3>
    <iframe class="full-image" width="930" height="523" src="//www.youtube.com/embed/RpzSQO3ddTM" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="prj">
    <h3><a target="_blank" href="http://tholapz.com/app/vasefication.html">Vasefication</a> <small>Supervised by <a href="http://www.smartcg.com/tech/cg/books/RfB/home/index.html" target="_blank">Saty Raghavachary</a></small></h3>
    <a target="_blank" href="http://tholapz.com/app/vasefication.html"><img class="full-image" width="930" src="images/vase.png"></a>
  </div>
  <div class="prj">
    <h3><a target="_blank" href="http://tholapz.com/app/webrenderer.html">3D Graphics Renderer</a> <small>Supervised by <a href="http://www.smartcg.com/tech/cg/books/RfB/home/index.html" target="_blank">Saty Raghavachary</a></small></h3>
    <a target="_blank" href="http://tholapz.com/app/webrenderer.html"><img class="full-image" width="930" src="images/teapot.jpg"></a>
    <p class="text-center"><small>courtesy image from <a target="_blank" href="http://www.renderspirit.com/">renderspirit.com</a></small></p>
  </div>
</div>