<h1>My Story</h1>
<p>Since my graduation 5 years ago, I have had the opportunity to build different types of web product ranging from enterprise, b2b software suite for financial institute to api server for mobile social app. I have been exposed to multitude of technology stacks such as Java, .net, PHP, Python, and lately JavaScript. That makes me become a quick learner. I pick up new technology easily by learning what problem it tries to solve and which approach it takes to do so.</p>

<h2>What do I want?</h2>
<p>I want to work in a tech company that emphasize on great user experience and intuitive ui. My recent experience is geared toward front-end development which I wish to take it further by being part of a team of great people of different domains in order to broaden my horizon and learn from the best.</p>